@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');

/* Use the 'Lato' font family at 18px throughout the body of the document, and cover the background with the './img/map-bg.jpg' image. */
nav {font-family: sans-serif; font-size: 10px;}


body {font-family: lato; font-size: 18px;
    background: url("img/map-bg.jpg") no-repeat center center fixed; 
    background-size: cover;}

#main {width: 900px; margin: 10px auto;}

h1 {
    font-family: 'Supermercado One', cursive; font-size: 45px; color: #5d4037;}

#menu {columns: 400px 2; 
    column-gap: 100px;
    column-rule: 2px dashed rosybrown}
section {margin-bottom: 50px;}

h2 {margin: 0;
    font-variant-caps: small-caps;
    color: #6d4c42;}

dt {
    font-weight: bold; font-size: 20px;
}


dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {order: 2; padding-left: 10px;
    font-size-adjust: large; color: firebrick;}

/* Draw a 2px dashed rosybrown border around the address/footer */
address {padding: 10px;
border: dashed 2px; border-color: rosybrown}